%%% -*- mode: erlang; -*-
{erl_opts,
 [
  debug_info
 ,{parse_transform, lager_transform}
 ]
}.
{deps, [
        {lager, "3.0.2"}
       ,{ibrowse, "4.2.2"}
       ,{worker_pool, {git, "https://github.com/inaka/worker_pool.git"}}
       ,{stillir, {git, "https://github.com/heroku/stillir.git"}}
       ]}.

{relx, [{release, {'influx_bridge', "0.1.0"},
         ['influx_bridge',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.
